<h1 class="mx-3">Olvidaste tu Contraseña</h1>

<p class="mx-3">Ingresa tu correo, para enviarte un enlace para cambiar la Contraseña</p>

<form method="post" action="/api/sessions/forgot-password" class="mx-3">
    <input type="email" placeholder="Correo electronico" name="email">
    <button>Recibir correo</button>
</form>